<h1>
קטנים קטנים</h1>
<h2>
היי יו
</h2>
<p>
שיטת בלבלבלב
</p>
<br/>

<a href="http://www.elinor-babysteps.com/" target="_top"> 
press here
</a>

<hr/>
<p>
<ol>
    <li>איטליה</li>
    <li>יוון</li>
    <li>שבדיה</li>
</p>







<h1>
    Form
</h1>

<div>this is div</div>
<div>this is div</div>
<div>this is div</div>

<span>this ia span</span>
<span>this ia span</span>
<span>this ia span</span>



<form action="/">
    <label>Text Input</label>
    <input type="text" />
</form>


<!-- רגיל -->

<form action="/">
    <ul>
        <li>
            <label for="Text Input">Text input</label>
            <input id="text info" type="text" />
        </li>
        <li>
            <label>Large text area</label>
            <textarea></textarea>
        </li>
         <li>
            <label>password</label>
            <input type="password" />
        </li>
        <li>
            <label for="id_of_input">checkbox with label</label>
            <input id="id_of_input" type="checkbox" />
        </li>
        <li>
            <label >checkbox with out label</label>
            <input type="checkbox" />
        </li>

        <li>
            <label>radio</label>
            <input name="radio goup" value="1" type="radio" />
            <input name="radio goup" value="1" type="radio" />
            <input name="radio goup" value="1" type="radio" />
        </li>

        <li>
            <select>
            <option>option 1</option>
            <option>option 2</option>
            <option>option 3</option>
            </select>

        </li>
    </ul>
</form>

<img src="http://images.medicaldaily.com/sites/medicaldaily.com/files/styles/headline/public/2014/08/26/genetically-modified-baby.jpg" />
<img src="https://i.ytimg.com/vi/kE3sooSFpIk/hqdefault.jpg" />
<img src="http://3.bp.blogspot.com/_-8ueNRWhLqY/TUlM8YmWXDI/AAAAAAAABWY/xvCxj7_GkmY/s640/World+Most+Cute+And+Beautiful+Babies+Pictures+%252822%2529.jpg" />


<video controls src="https://www.ted.com/playlists/289/the_genius_of_babies#http://www.dailymotion.com/video/x2bfhej_funny-twin-babies-laughing-crying-and-then-laughing-again_fun" />


<audio controls src="" />


<iframe src="http://youtube.com" >
    </iframe>



<table> 
    <tr>
        <td> tf1</td>
        <td>td2</td>
    </tr>
</table>
